#Tue Jul 02 02:17:48 CEST 2024
app.filesInProgress=CSVfileToWriteTo0.csv,
converion.readMethod=rdf4j
conversion.containsBlankNodes=false
conversion.hasRDFType=true
conversion.method=basicQuery
conversion.tableMethod=
input.outputFileName=CSVfileToWriteTo
output.metadataFileName=csv-metadata.json
output.zipname=compressed.zip
