#Wed Jun 26 01:46:11 CEST 2024
Mon=Apr 22 20\:25\:26 CEST 2024
app.filesInProgress=./src/test/resources/splitQueryTest0.csv,
conversion.containsBlankNodes=false
conversion.hasRDFType=false
conversion.method=splitQuery
input.delimiter=,
input.outputFileName=./src/test/resources/splitQueryTest
output.metadataFileName=./src/test/resources/datatypes-string2.csv-metadata.json
output.zipname=compressed.zip
