#Wed Jul 03 01:39:25 CEST 2024
conversion.hasRDFType=false
app.filesInProgress=CSVfileToWriteTo0.csv,
input.outputFileName=CSVfileToWriteTo
conversion.method=basicQuery
converion.readMethod=rdf4j
conversion.tableMethod=
output.zipname=compressed.zip
output.metadataFileName=csv-metadata.json
conversion.containsBlankNodes=false
