#Thu Nov 20 04:50:39 CET 2025
app.filesInProgress=
conversion.containsBlankNodes=false
conversion.hasRDFType=true
conversion.method=basicQuery
conversion.readMethod=rdf4j
conversion.tables=one
experiment.afterConverting=1736432703688
experiment.afterFileWrite=1736432715719
experiment.afterMetadata=1736432715717
experiment.afterParsing=1736432703685
input.firstNormalForm=false
input.inputFileName=./RDFtoCSV/src/test/resources/DereferenceTests/cities_people.ttl
input.outputFileName=./RDFtoCSV/src/test/resources/DereferenceTests/cities_peopleOUT
input.streaming=false
metadata.rownums=false
output.filePath=
output.metadataFileName=csv-metadata.json
output.zipname=./RDFtoCSV/src/test/resources/DereferenceTests/cities_peopleOUT_CSVW.zip
simpleBasicQuery=false
